body{
    font-family:Arial;
    margin:30px 300px 30px 300px;
    display:block
    
}

p{
    font-size:14px;
    text-align:justify;
    line-height:14px;
       
 }
    

h1{
    color:crimson
}

ul{
    list-style:none;
    display:flex;
    justify-content: space-around;

}

footer{
    text-align:center;
}

